################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/air-kids-main/config
/.vs/air-kids-main/v17
