
/* ------ Разметка таблицы ----- */

.schedule-table {
    border: 1px solid red;
    display: grid;
    justify-content: center;
}

.schedule-table tr {
    border: 1px solid green;
    display: flex;
}


/*-----------------------------*/

