.players {
    background-color: #fff;
}

.players h2 {
    margin: 20px auto 53px;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    max-width: 1100px;
    width: 100%;
}

.players__cards-block h4 {
    line-height: 18px;
    font-size: 15px;
    min-height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}