@import url('../vendor/nullstyle.css'); /* ОБНУЛЕНИЕ */
@import url('../vendor/bicubik.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./index-news.css');
@import url('./index-calendar.css');
@import url('./index-comands.css');

*{
    /* outline: 1px solid green; */
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    /* --inter: 'Inter', Arial, Helvetica, sans-serif; */
    --bicubik: 'Bicubik', Arial, Helvetica, sans-serif;
    --montserrat: 'Montserrat', Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
html,
body {
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
ul li,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    width: 100%;
    max-width: 1903px;
    margin: 0 auto;
    font-family: var(--montserrat);
    position: relative;
    background-color: #F2F2F2;
}   

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

/* .montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */


/* ------ Шапка сайта ------- */
.header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    border: 1px solid #000;
}

.header__block {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #6D1AD7;
}

.header__block a {
    text-decoration: none;
}

.header__navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.header__navigation-link {
    text-decoration: none;
}

.header__buttons-block {
    max-width: 296px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ------ Блок ИНТРО --------- */
.intro__image {
    background-image: url('../images/intro-image.png');
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1904px;
    min-height: 520px;
}

/* ---- Блок МАТЧИ расписание ----- */
.matches {
    border: none;
}

.matches__cards-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.matches__card-item {
    border-radius: 3px;
    max-width: 261px;
    width: 100%;
    min-height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: linear-gradient(1px, #DDDDDD);
}

.matches__card-item-title {
    background-color: #C7C7C7;
    min-height: 35px;
    text-align: center;
    width: 100%;
    border-radius: 3px 3px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matches__card-item-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.matches__card-item-footer {
    background-color: #C7C7C7;
    border-radius: 0 0 3px 3px;
    min-height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.matches__card-item-footer svg {
    margin-right: 17px;
}

.matches__card-item-footer svg:last-child {
    margin-right: 0;
}

/* ---- Блок РЕГИСТРАЦИЯ ----- */

.registration {
    background-image: url('../images/reg-image.png');
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 142px;
}

/* ----- Блок НОВОСТИ ----- */

.news {
    margin: 10px auto 88px;
}

.news__cards-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news__cards-item {
    border-radius: 30px;
    max-width: 360px;
    width: 100%;
    min-height: 414px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.news__cards-item:hover {
    background-color: #6D1AD7;
    color: #fff;
}

.news__cards-item img {
    border-radius: 30px 30px 0 0;
    width: 100%;
}

.news__cards-item p {
    text-align: right;
    margin: 7px 6px 0 0;
}

.news-cards-text {
    padding: 6px;
}

.news-cards-text h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.news-cards-text h4 {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}


/* ----- Блок с ТАБЛИЦЕЙ ----- */
.table-image {
    margin: 0 auto;
    width: 100%;
    min-height: 566px;
}

/* ----- Блок СЕРЫЙ БЛОК-1 ----- */

.grey-block-1 {
    margin: 40px auto;
    width: 100%;
    min-height: 143px;
    background-color: #909090;
}

/* ----- Блок РАСПИСАНИЕ ----- */

.schedule__seasons {
    margin: 30px auto 37px;
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.schedule__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}

.schedule__play-off-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;
    width: 100%;
    min-height: 444px;
}

.schedule__play-off-item {
    max-width: 237px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.schedule__play-off-item h2 {
    width: 100%;
    min-height: 25px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #FFAD32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #E1E1E1;
}

.schedule__play-off-item table {
    min-height: 50px;
    max-width: 237px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.schedule__play-off-table-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto 0;
    min-height: 327px;
    align-items: flex-end;
}

.schedule__play-off-table-block table, tr{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.schedule__play-off-table-block table caption{
    margin: 0 0 5px 0;
    line-height: 22px;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.schedule__play-off-table-block svg{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.schedule__play-off-table-block p {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.schedule__play-off-item table td {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.schedule__third-place {
    max-width: 252px;
    min-height: 105px;
    display: flex;
    width: 100%;
}

.schedule__third-place td {
    display: flex;
    justify-content: space-between;
}

.schedule__third-place p {
    height: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    background-color: #E1E1E1;
    text-transform: uppercase;
}

.schedule__third-place caption {
    font-size: 10px;
    color: #A4A4A4;
}

/* ---- ТАБЛИЦА МАТЧЕЙ ---- */

.schedule_schedule-table {
    margin: 30px 0;
    max-width: 1106px;
    width: 100%;
    min-height: 407px;
    border: none;
    border-spacing: 0;
}

.schedule_schedule-table td tr {
    text-align: center;
}

.schedule_schedule-table td {
    min-width: 96px;
    max-width: 283px;
    text-align: center;
    border: 1px solid #000;
}

.schedule_schedule-table tr:first-child {
    background-color: #6D1AD7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule_schedule-table tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000;
}

.schedule_schedule-table-A {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.schedule_schedule-table-A tr {
    display: flex;
    min-height: 57px;
    align-items: center;
    flex-direction: row;
}

.schedule_schedule-table-A td {
    /* min-width: 50px;
    max-width: 284px; */
    width: 100%;
}

/* ------- Блок ГАЛЕРЕЯ ------ */

.photo-galery {
    display: block;
}



/* ----- Блок СЕРЫЙ БЛОК-2 ----- */

.grey-block-2 {
    margin: 40px auto 0;
    width: 100%;
    min-height: 424px;
    background-color: #909090;
}

/*-----------------------------*/

footer {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    background-image: url('../images/footer-bg-image.png');
    background-repeat: no-repeat;
    object-fit: contain;
    min-height: 275px;
}

.footer__block {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.footer__block a {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

/* ----- Медиа-запросы ---- */
@media screen and (max-width: 1903px) {
    .photo-galery {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
        align-items: stretch;
    }   
}
