.calendar {
    background-color: #fff;
    min-height: 758px;
}

.calendar h2 {
    margin: 20px auto 53px;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    max-width: 1100px;
    width: 100%;
}

.calendar .calendar__table {
    max-width: 962px;
    width: 100%;
    min-height: 416px;
    margin-bottom: 182px;
}

.calendar__table tbody .calendar__table_table-row:nth-child(odd) {
    background-color: transparent;
}

.calendar__table_table-row {
    border: 1px solid red;
}