.teams-statistics h2 {
	margin: 0;
	border-bottom: none;
	padding-left: 0;
	/* max-width: auto; */
	width: auto;
}

.container.teams.teams-statistics {
	padding: 0;
}

.teams-statistics-play-off {
	margin: 0 20px;
}

.schedule__seasons.schedule__seasons-statistics {
	padding: 37px 20px 30px;
	margin: 0;
}
