.container.teams {
  padding: 20px;
}

.teams.teams-profiles {
  padding: 0;
}

.teams__block {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.teams__info-players-block {
  max-width: 1040px;
  width: 100%;
  min-height: 530px;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  margin: 0 auto;
  gap: 24px;
}

.teams__prev-page-button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-width: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: #6D1AD7;
}

.teams__prev-page-button:hover {
  background-color: #FFAD32;
}

.teams__prev-page-button p {
  color: #fff;
  text-transform: uppercase;
}

.teams__block-info {
  max-width: 353px;
  width: 100%;
}

.teams__block-info-logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.teams__block-info-logo-title img {
  margin-right: 40px;
}

.teams__block-info-logo-title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.teams__block-info-logo-title-block h3 {
  font-size: 20px;
  font-weight: bold;
}

.teams__block-info-logo-title-block h3:last-child {
  font-size: 15px;
}

.teams__block-info-history {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.teams__block-info-history p {
  font-size: 15px;
  line-height: 20px;
}

.teams__players-cards {
  max-width: 662px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.teams__players-cards-item {
  width: 33%;
  flex: 1;
  list-style: none;
}

.teams__players-cards-item a {
  padding: 10px;
  width: 100%;
  min-height: 245px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.teams__players-cards-item:hover {
  background-color: #FFAD32;
  color: #fff;
  transition: all 0.3s ease;
}

.teams__players-cards-item img {
  width: 105px;
  height: 105px;
  object-fit: cover;
}

.teams__players-cards-item h4, 
.teams__players-cards-item h5 {
  margin-top: 7px;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.teams__players-cards-item p {
  font-size: 12px;
  line-height: 20px;
}
.teams__players-cards-item p span{
  font-weight: 400;
}
.tabs__panel {
  display: none;
  animation: fadeIn 0.5s ease;
}
.tabs__panel.active {
  display: block;
}
.teams-statistics__table-main-block{
  padding: 28px;
}
.tabs__panel .statistics__table tbody .statistics__table_table-row td:nth-child(2){
  text-align: center;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 768px) {
  .teams__info-players-block {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .teams__block-info {
    max-width: none;
  }
}

@media screen and (max-width: 425px) {
  .teams__block {
    flex-direction: column;
  }

  .teams header {
    font-size: 17px;
  }

  .teams__players-cards {
    justify-content: center;
  }
}