.statistics {
    box-shadow: 0px 0px 15px 5px #CCCCCC;
    background-color: #fff;
    min-height: 792px;
}

.statistics h2 {
    margin: 20px auto 53px;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    max-width: 1100px;
    width: 100%;
}

.statistics select {
    margin: 16px auto 16px 97px;
    background-color: #6D1AD7;
    border-radius: 8px;
    max-width: 199px;
    width: 100%;
    min-height: 40px;
    color: #fff;
    padding: 16px;
    font-size: 16px;
}

.statistics__table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    border: 1px solid #000;
    max-width: 946px;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
}

.statistics__table-players {
    min-height: 144px;
}

.statistics__table-command {
    min-height: 288px;
}

/* .statistics__table-command .statistics__table {
    margin-bottom: 40px;
} */
