.teams-full-pfofile {
  min-height: 486px;
  padding-top: 50px;
}

.teams-full-pfofile .teams__prev-page-button {
  margin: 0;
}

.teams__full-info {
  margin: 30px auto;
  padding: 15px 0;
  background-color: #6D1AD7;
  background-image: url('../images/teams-full-info-bg.png');
  border-radius: 10px;
  min-height: 228px;
  max-width: 910px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
}

.teams__full-info img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  margin: 0 49px 0 22px;
  margin-right: 40px;
}

.teams__block-full-text h3 {
  line-height: 20px;
  font-weight: 600;
  font-size: 25px;
  margin: 0 0 5px 0;
  padding: 0;
}

.teams__block-full-text p {
  line-height: 20px;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 12px;
}

.teams__players-cards-item p,span {
  font-weight: 600;
}

.teams__block-full-text {
  margin: 9px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teams__table {
  margin: 0 auto;
  max-width: 910px;
  width: 100%;
  min-height: 108px;
  display: table;
  border-collapse: collapse;
  overflow: hidden;
}

.teams__table-block {
  max-width: 910px;
  overflow-x: auto;
  margin: 20px auto;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.teams__table thead {
  background-color: #6D1AD7;
  color: #fff;
  width: 100%;
}

.teams__table thead tr td {
  padding: 10px 12px;
  text-align: left;
}

.teams__table tbody {
  width: 100%;
}

.teams__table tbody tr td {
  padding: 10px 12px;
  font-size: 12px;
  text-align: left;
  border: 1px solid #B9B9B9;
}

.teams__table tbody .teams__table_table-row:nth-child(odd) {
  background-color: #FFAD3280;
}

.teams__table tbody .teams__table_table-row:nth-child(even) {
  background-color: #F7F8FF;  
}

@media screen and (max-width: 563px) {
  .teams__full-info {
    flex-direction: column;
    align-items: center;
  }
}