@import url('../vendor/nullstyle.css');
/* ОБНУЛЕНИЕ */
@import url('../vendor/ermilov-bold.css');
/* Шрифт Ермилов */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./index-news.css');
@import url('./index-news-card.css');
@import url('./index-info.css');
@import url('./index-calendar.css');
@import url('./index-players.css');
@import url('./index-statistics.css');
@import url('./index-teams.css');
@import url('./index-teams-profiles.css');
@import url('./index-teams-full-profile.css');
@import url('./index-teams-profiles-squad.css');
@import url('./index-teams-profiles-schedule.css');
@import url('./index-teams-profiles-statistics.css');
@import url('./index-match-before.css');
@import url('./index-team-of-players.css');


* {
  /* outline: 1px solid green; */
  box-sizing: border-box;
}

:root {
  --ermilov-bold: 'Ermilov-Bold', Arial, Helvetica, sans-serif;
  --rubick: 'Rubik', Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  max-width: 1903px;
  margin: 0 auto;
  position: relative;
  font-family: var(--rubick);
  background-color: #F2F2F2;
}

.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

.content {
  background-color: #F2F2F2;
}

/* ------ Шапка сайта ------- */
.header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-height: 81px;
  background-color: #6D1AD7;
  position: sticky;
  top: 0;
  z-index: 25;
}

.header__block {
  display: flex;
  gap: 20px;
  max-width: 1244px;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: auto 0;
  padding: 0 15px;
}

.header__logo-link a {
  display: block;
  margin: 0;
  padding: 0;
}

.header__logo-link img {
  margin: 0;
  padding: 0;
  max-width: 60px;
  width: 100%;
  min-height: 74px;
}

.header__navigation-list li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.header__navigation-list a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  list-style: none;
}

.header__navigation-list-item {
  margin: 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  position: relative;
}

.header__navigation-list-item:hover {
  background-color: #FFAD32;
}

.header__navigation-link {
  text-decoration: none;
}

.burger {
  display: none;
}

/* ------ Стили для dropdown --------- */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: auto;
  display: flex;
  flex-direction: column;
  width: 120%;
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 100;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}
.dropdown-menu li:first-child{
  display: none;
}
.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a {
  display: block;
  color: #333;
  transition: color 0.2s ease;
}

.dropdown-menu li a:hover {
  color: #0066cc;
}

/* ------ Блок ИНТРО --------- */
.intro {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  /* background: linear-gradient(to right, rgba(255, 0, 0, .5), rgba(0, 0, 255, 1)); */
}

.intro__image {
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 100%;
}

.intro__image img {
  background: linear-gradient(to right, pink, transparent, pink);
  /* background: linear-gradient(to right left, blue, pink); */
  object-fit: cover;
  max-width: 1904px;
  width: 100%;
  height: auto;
  max-height: 600px;
  object-position: 50% 55%;
  display: flex;
}

.swiper-horizontal.intro {
  padding: 0;
}

.intro__button-left {
  background-image: url('../images/vector-left-intro.svg');
  width: 25px;
  height: 50px;
  background-repeat: no-repeat;
  background-color: transparent;
  object-fit: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 2;
}

.intro__button-right {
  background-image: url('../images/vector-right-intro.svg');
  width: 25px;
  height: 50px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 2;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
  opacity: 0;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '';
  opacity: 0;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, transparent);
}

.swiper-pagination-bullet-active {
  background: #ffffff;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: transparent;
}

/* ---- Блок МАТЧИ расписание ----- */
.matches-swiper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 20px auto 0;
  justify-content: space-between;
}

.swiper-horizontal {
  padding: 16px;
}

.matches {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
}

.matches__button img,
.news__button img {
  width: 13px;
  height: 26px;
}

.matches__button-prev,
.news__button-prev {
  margin-right: 20px;
  position: absolute;
  top: 52%;
  left: 0;
  background-color: transparent;
  z-index: 2;
}

.matches__button-next,
.news__button-next {
  margin-left: 20px;
  position: absolute;
  top: 52%;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

.matches__cards-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1170px;
  width: 100%;
}

.matches__card-item.swiper-slide {
  border-radius: 3px;
  width: 100%;
  min-height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px #CCCCCC;
}

.matches__card-item-title {
  background-color: #C7C7C7;
  min-height: 35px;
  text-align: center;
  width: 100%;
  border-radius: 3px 3px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.matches__card-item-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.matches__card-item-footer {
  background-color: #C7C7C7;
  border-radius: 0 0 3px 3px;
  min-height: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.matches__card-item-footer svg {
  margin-right: 17px;
}

.matches__card-item-footer svg:last-child {
  margin-right: 0;
}

/* ---- Блок РЕГИСТРАЦИЯ ----- */

.container.registration {
  padding: 0;
}

.registration {
  overflow: hidden;
  width: 100%;
}

.registration a {
  min-height: 143px;
  object-fit: contain;
  display: block;
  background-image: url('../images/reg-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-out .2s;
}

.registration a:hover {
  opacity: .8;
}

/* ----- Блок НОВОСТИ ----- */

.container.news {
  padding: 0;
}

.matches-swiper {
  overflow: visible; /* Важно для корректного отображения */
}

.news {
  border: 1px solid #000;
  margin: clamp(5px, 2vw, 10px) auto clamp(30px, 7vw, 70px);
  overflow: hidden;
}

.news__cards-block {
  border: 1px solid red;
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  gap: 24px;
  list-style: none;
  margin-bottom: 24px;
}

.news__cards-item {
  border-radius: 30px;
  width: 100%;
  min-height: clamp(300px, 50vw, 414px);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.news__cards-item:hover {
  background-color: #6D1AD7;
  color: #fff;
}

.news__cards-item img {
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  height: auto;
  width: 100%;
}

.news__cards-item p {
  text-align: right;
  margin: 7px 6px 0 0;
}

.news-cards-text {
  /* padding: 6px; */
  padding: clamp(8px, 2vw, 12px);
  min-height: 140px;  
}

.news-cards-text__title {
  font-weight: bold;
  font-size: 20px;
  font-size: clamp(16px, 4vw, 22px);
  line-height: 24px;
  margin-bottom: 12px;
}

.news-cards-text p:nth-child(2) {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

/* 
.news {
  margin: 10px auto 70px;
  margin: clamp(5px, 2vw, 10px) auto clamp(30px, 7vw, 70px);
  overflow: hidden;
}

.news__cards-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  list-style: none;
  margin-bottom: 24px;
}

.news__cards-item {
  border-radius: 30px;
  width: 100%;
  min-height: clamp(300px, 50vw, 414px);
  cursor: pointer;
  transition: all 0.3s ease-out;
  
}

.news__cards-item:hover {
  background-color: #6D1AD7;
  color: #fff;
}

.news__cards-item img {
  border-radius: 30px 30px 0 0;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.news__cards-item p {
  text-align: right;
  margin: 7px 6px 0 0;
}

.news-cards-text {
  padding: 6px;
  padding: clamp(8px, 2vw, 12px);
  min-height: 140px;
}

.news-cards-text__title {
  font-weight: bold;
  font-size: 20px;
  font-size: clamp(16px, 4vw, 22px);
  line-height: 24px;
  margin-bottom: 12px;
}

.news-cards-text p:nth-child(2) {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}
.news .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.news .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color: rgb(201, 201, 201);
  border-color: rgb(201, 201, 201);
}
.news .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active,
.news .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
  background-color: #000;
  border-color: #000;
} */

/*----------- Контейнер Записи в ЛБЛК ---------- */
.table img {
  background: linear-gradient(to right, pink, transparent, pink)
}

/*----------- /Контейнер Записи в ЛБЛК ---------- */


/* ----- Блок с ТАБЛИЦЕЙ ----- */
.table-image {
  margin: 0 auto;
  width: 100%;
  min-height: 566px;
  object-fit: contain;
}

/* ----- Блок РАСПИСАНИЕ ----- */

/* ---------- Таблица с расписанием матчей -------- */
.statistics__table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: var(--ermilov-bold);
  display: table;
}

.statistics__table-block {
  overflow-x: auto;
  margin: 20px auto;
}

.statistics__table thead {
  background-color: #6D1AD7;
  color: #fff;
}

.statistics__table thead tr td {
  padding: 20px;
  text-align: center;
}

.statistics__table tbody tr td {
  padding: 20px;
  text-align: center;
}

.statistics__table tbody tr td div {
  display: flex;
  gap: 13px;
}

.statistics__table tbody tr td ul {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: center;
  list-style: none;
}

.statistics__table tbody tr td ul li span {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0FD400;
}

.statistics__table tbody .statistics__table_table-row td:nth-child(2) {
  text-align: left;
  padding: 20px 0;
}

.statistics__table tbody .statistics__table_table-row:nth-child(odd) {
  background-color: #FFAD3280;
}

.statistics__table tbody .statistics__table_table-row:nth-child(even) {
  background-color: #F7F8FF;
}

.statistics__button-show-all {
  margin: 0 auto;
  max-width: 180px;
  width: 100%;
  min-height: 32px;
  border-radius: 5px;
  background-color: #6D1AD7;
  color: #fff;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}

.statistics__button-show-all:hover {
  background-color: #FFAD32;
}

.statistics__block-show-all {
  transition: max-height 0.3s ease-out;
  display: none;
}

.statistics__block-show-all.active {
  display: table;
}


/* ---------- /Таблица с расписанием матчей -------- */


.schedule {
  box-shadow: 0px 0px 15px 5px #CCCCCC;
  padding: 20px;
  margin-bottom: 62px;
  background-color: #fff;
}

.schedule__seasons {
  margin: 0 auto 37px;
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.schedule__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.select-wrap {
  position: relative;
}

.def-select {
  display: none;
  height: 0;
  position: absolute;
  z-index: -1;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  color: white;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  cursor: pointer;
}

.custom-select__value {
  height: fit-content;
  padding: 3px 5px;
  font-size: 12px;
  color: #303030;
  margin-right: 92px;
}

.custom-select__arrow {
  width: 8px;
  height: 8px;
  position: absolute;
  inset: 50% 5% 0% auto;
  border-right: 1px solid #303030;
  border-bottom: 1px solid #303030;
  transform: translateY(-70%) rotate(45deg);
  transition: transform .5s ease;
}

.select-dropdown {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px 0px;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 200%;
  max-height: 0px;
  position: absolute;
  z-index: 2;
  color: white;
  border: 1px solid #303030;
  opacity: 0;
  transition: all .5s ease;
}

.select-dropdown::-webkit-scrollbar {
  width: 2px;
}

.select-dropdown::-webkit-scrollbar-track {
  background-color: #fff;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.select-dropdown li {
  position: relative;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #222325;
  background: #ffffff;
}

.select-dropdown li:hover {
  background-color: #ffad32;
}

.select-dropdown .active-item,
.select-dropdown .active-item:hover {
  background-color: #ffad32;
  color: #000;
}

.select-dropdown li label {
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
}

.custom-select_active .custom-select__arrow {
  transform: rotate(-135deg);
}

.custom-select_active+.select-dropdown {
  opacity: 1;
  visibility: visible;
  max-height: 200%;
}

.play-off {
  display: flex;
  gap: 50px;
  margin-bottom: 35px;
}

.play-off__main {
  margin-bottom: 30px;
}

.play-off__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.play-off__header {
  display: flex;
  gap: 50px;
  margin-bottom: 65px;
}

.play-off__head {
  text-align: center;
  background: #ffad32;
  color: #fff;
  line-height: 25px;
  border: 1px solid #e1e1e1;
}

.play-off__step {
  display: flex;
  align-items: center;
  gap: 50px;
}

.play-off__column {
  gap: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-off__column:first-child {
  gap: 20px;
}

.play-off__item,
.play-off__head {
  width: 237px;
}

.play-off__caption {
  font-size: 10px;
  padding: 5px 0;
  color: #a4a4a4;
}

.play-off__team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  font-weight: 800;
  font-size: 12px;
  line-height: 25px;
  padding: 0 4px;
}

.play-off__team_winner {
  background-color: #6d1ad74d;
}

.play-off__team:last-of-type {
  border-top: none;
}

.play-off__team p {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.play-off__item_thirdplace {
  border: 1px solid #e1e1e1;
  margin-left: auto;
}

.play-off__item_thirdplace .play-off__item-header {
  background: #edeff9;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px;
  text-wrap: 600;
  text-align: center;
}

.play-off__item_thirdplace .play-off__team {
  border: none;
  border-top: 1px solid #e1e1e1;
}

.play-off__item_thirdplace .play-off__caption {
  padding-left: 12px;
}

/* ---- ТАБЛИЦА МАТЧЕЙ ---- */

.schedule_schedule-table {
  margin: 30px 0;
  max-width: 1106px;
  width: 100%;
  min-height: 407px;
  border: none;
  border-spacing: 0;
}

.schedule_schedule-table td tr {
  text-align: center;
}

.schedule_schedule-table td {
  min-width: 96px;
  max-width: 283px;
  text-align: center;
  border: 1px solid #000;
}

.schedule_schedule-table tr:first-child {
  background-color: #6D1AD7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.schedule_schedule-table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #000;
}

.schedule_schedule-table-A {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.schedule_schedule-table-A tr {
  display: flex;
  min-height: 57px;
  align-items: center;
  flex-direction: row;
}

.schedule_schedule-table-A td {
  width: 100%;
}

/* ------- Блок ГАЛЕРЕЯ ------ */

.photo-galery {
  display: grid;
  grid-template-columns: minmax(auto, auto);
  grid-template-rows: minmax(auto, auto);
  gap: 4px;
  grid-auto-flow: row;
  grid-template-areas:
    "area1 area2 area2"
    "area3 area3 area4"
    "area5 area5 area6"
    "area7 area7 area8";
  list-style: none;
}

.area1 {
  grid-area: area1;
}

.area2 {
  grid-area: area2;
}

.area3 {
  grid-area: area3;
}

.area4 {
  grid-area: area4;
}

.area5 {
  grid-area: area5;
}

.area6 {
  grid-area: area6;
}

.area7 {
  grid-area: area7;
}

.area8 {
  grid-area: area8;
}

.photo-galery-image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}



/* ----- Блок СЕРЫЙ БЛОК-2 ----- */

.grey-block-2 {
  margin: 40px auto 0;
  width: 100%;
  min-height: 100px;
  min-height: 424px;
  background-color: #909090;
}

/*-----------------------------*/

footer {
  margin: 25px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  background-image: url('../images/footer-bg-image.png');
  background-repeat: no-repeat;
  object-fit: contain;
  min-height: 275px;
}

.footer__block {
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 1114px;
  width: 100%;
  min-height: 186px;
}

.footer__block a {
  cursor: pointer;
  margin-right: auto;
}

.footer__links-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 835px;
  width: 100%;
}

.footer__links-block-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 235px;
  width: 100%;
}

.footer__links-block-item li {
  display: flex;
  justify-content: center;
}

.footer__links-block-item a {
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color ease-out .3s;
}

.footer__links-block-item a:hover {
  color: #FFAD32;  
}

/* ----- Медиа-запросы ---- */

@media screen and (max-width: 1140px) {
  .news__cards-block {
    gap: 12px;
    padding: 0 12px;
  }
}


@media screen and (max-width: 1024px) {
  .grey-block-2 {
    min-height: 225px;
  }
}

@media screen and (max-width: 956px) {
  .header__navigation-list {
    font-size: 14px;
  }
}

@media screen and (max-width: 975px) {
  .play-off {
    max-width: 950px;
    width: 100%;
    flex-direction: column;
  }

  .play-off__header {
    gap: 30px;
  }

  .play-off__step {
    gap: 30px;

  }

  .play-off__item,
  .play-off__head {
    max-width: 237px;
    width: 100%;
  }

  .statistics__table thead tr td {
    padding: 14px;
  }

  .statistics__table tbody tr td {
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .header__block {
    display: block;
  }

  .dropdown-menu li {
    height: fit-content;
  }

  .header__navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    background-color: #fff;
    color: #000;
    font-size: 22px;
    z-index: 11;
    height: calc(-77px + 100vh);
    max-height: 0px;
    padding: 0;
    transition: max-height .3s, padding .3s;
    overflow: hidden;
  }

  .header__navigation-list_active {
    max-height: 100vh;
    padding: 32px 0px;
  }

  .burger {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .burger__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    height: 43px;
    align-items: flex-end;
  }

  .burger__lines {
    background-color: #fff;
    display: block;
    width: 44px;
    height: 7px;
    border-radius: 21px;
    transition: transform .3s, width .3s;
  }

  .burger__lines:last-child {
    width: 32px;
  }

  .burger.active .burger__block {
    gap: 0;
  }

  .burger.active .burger__lines:first-child {
    transform: rotate(-45deg) translateY(125%);
  }

  .burger.active .burger__lines:nth-child(2) {

    transform-origin: left;
    transform: scaleX(0);
  }

  .burger.active .burger__lines:last-child {
    transform: rotate(45deg) translateY(-125%);
    width: 100%;
  }

  .burger__lines.active {
    background-color: #fff;
  }

  .header__navigation-list {
    flex-direction: column;
    width: 100%;
  }

  .dropdown {
    position: static;
  }

  .dropdown-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #fff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    opacity: 1;
    visibility: visible;
    transform: none;
    z-index: 1000;
    padding-top: 60px;
  }
  .dropdown-menu li:first-child{
    display: block;
  }
  .dropdown.active .dropdown-menu {
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .dropdown-toggle {
    position: relative;
  }

  .dropdown-toggle::after {
    content: '+';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
  }

  .dropdown.active .dropdown-toggle::after {
    content: '-';
  }

  .news-section__cards-block-matrix.news__cards-block {
    grid-template-columns: 1fr 1fr;
  }

  .news-item {
    padding: clamp(8px, 2vw, 15px);
  }

  .grey-block-1 {
    margin: 0 auto 40px;
  }

  .schedule__play-off-block {
    flex-direction: column;
    align-items: center;
  }

  .footer__links-block-item a {
    font-size: 15px;
  }

  .footer__block img {
    width: 90px;
    height: 90px;
    margin: 0;
  }
}

@media screen and (max-width: 525px) {

  header a {
    padding: 10px 0px;
  }

  .play-off__head {
    font-size: 12px;
  }

  .play-off__header {
    gap: 15px;
  }

  .play-off__step {
    gap: 15px;
  }

  .play-off__team {
    font-size: 10px;
  }

  .play-off__team svg {
    width: 14px;
  }

  .footer__links-block-item a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  
  .news-item {
    flex-direction: column;
  }
  .news-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .news__cards-block {
    grid-template-columns: 1fr;
  }
  
  .news__cards-item {
    min-height: auto;
  }
}

@media screen and (max-width: 425px) {
  .teams__logos {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  .news-section__cards-block-matrix.news__cards-block {
    grid-template-columns: 1fr;
  }

  .custom-select__value {
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .footer__links-block-item a {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .play-off__header {
    gap: 9px;
  }

  .play-off__team {
    font-size: 7px;
  }

  .play-off__step {
    gap: 9px;
  }
}