.statistics {
    box-shadow: 0px 0px 15px 5px #CCCCCC;
    background-color: #fff;
    min-height: 792px;
    padding: 20px;
}

.statistics h2 {
    margin: 0 0 53px;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    max-width: 1100px;
    width: 100%;
}

.statistics__select-block {
    max-width: 946px;
    width: 100%;
    margin: 0;
}

.statistics select {
    margin: 16px auto;
    background-color: #6D1AD7;
    border-radius: 8px;
    max-width: 199px;
    width: 100%;
    min-height: 40px;
    color: #fff;
    padding: 16px;
    font-size: 16px;
}

.statistics__table-players {
    min-height: 144px;
}

.statistics__table-command {
    min-height: 288px;
}

.statistics__table tbody .statistics__table_table-row td:nth-child(2) {
    text-align: left;
    padding: 20px 0;
  }


