.teams {
    background-color: #fff;
    min-height: 609px;
}

.teams h2 {
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    max-width: 1100px;
    width: 100%;
}

.teams__logos {
    margin: 30px auto 0;
    max-width: 950px;
    min-height: 450px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teams__logos-card {
    padding: 18px;
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.teams__logos-card:hover {
    background-color: #EBE9E9;
}

.teams__logos-card-title {
    text-align: center;
}
